.calculator {
	background-color: #f4f4f4;
	border: 1px solid #999;
	border-radius: 5px;
	padding: 15px;
	width: 270px;
	margin: 0 auto;
	box-shadow: 0 0 10px #999;
	font-family: Segoe UI, sans-serif;
	font-size: 16px;
}

.display {
	width: 100%;
	height: 50px;
	font-size: 24px;
	padding: 5px 10px;
	margin-bottom: 10px;
	background-color: #fff;
	border: 1px solid #999;
	border-radius: 3px;
	text-align: right;
	box-sizing: border-box;
}

button {
	width: 50px;
	height: 50px;
	padding: 0;
	margin: 5px;
	font-size: 20px;
	border: none;
	border-radius: 3px;
	background-color: #f4f4f4;
	color: #000;
	box-shadow: 0 0 5px #999;
	outline: none;
	cursor: pointer;
}

button:active {
	box-shadow: none;
}

button.clear {
	background-color: #f0ad4e;
	color: #fff;
}

button.equal {
	background-color: #337ab7;
	color: #fff;
}

button.zero {
	width: 110px;
}

button.operator {
	background-color: #337ab7;
	color: #fff;
}
